@import "tailwindcss";

/* New config, changed from tailwind.something.something to just using globals.css */
@theme {
  --color-brand-blue: #375F77;
  --font-playfairDisplay: var(--font-playfairDisplay);
  --font-inter: var(--font-inter);
}

/* 2. Global Resets & Behaviors */
html {
  scroll-behavior: smooth;
}

/* Custom container? Just imported for now */
@layer components {
  .container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
  }
}

/* Playfair_Display to all headings */
@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-playfairDisplay), serif;
  }
}
