@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 90rem;
  --breakpoint-3xl: 105rem;

  --color-brand-blue: #375F77;
  --font-playfair: var(--font-playfair-next);
  --font-inter: var(--font-inter-next);
  --font-noto: var(--font-noto-next);
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
  }
}

@layer base {
  h1, h2, h3, h4, h5, h6 { font-family: var(--font-playfair-next); }
  a, p { font-family: var(--font-inter-next); }
  span { font-family: var(--font-noto-next); }
}
