@import "tailwindcss";

@theme {
  --color-brand-blue: #375F77;
  --font-playfair: var(--font-playfair-next);
  --font-inter: var(--font-inter-next);
  --font-noto: var(--font-noto-next);
}

/* 2. Global Resets & Behaviors */
html {
  scroll-behavior: smooth;
}

@layer components {
  .container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
  }
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    /* Use the Next variable directly. No extra ', serif' */
    font-family: var(--font-playfair-next);
  }

  a, p {
    /* Use the Next variable directly. No extra ', serif' */
    font-family: var(--font-inter-next);
  }

  span {
    font-family: var(--font-noto-next);
  }
}
